In [1]:
# importing the necessary libraries

import pandas as pd
import numpy as np

In [2]:
df =  pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
# viewing the first five rows 

df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

`Question 1`

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [13]:
# grouping the dataset by y2017 and Area

grouped = df.groupby('Area')['Y2017'].sum().reset_index()

sorted = grouped.sort_values(by='Y2017')

seventh = sorted.iloc[6]

seventh

Area     Guinea-Bissau
Y2017         19102.77
Name: 21, dtype: object

`Question 2`

Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [16]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]

[(2, 4), (7, 8), (1, 5, 9)]

`Question 3`

What is the total number of unique countries in the dataset?

In [19]:
# Calculate the number of unique values in the 'Area' column

df['Area'].nunique()

49

`Question 4`

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [25]:
# Calculate the number of missing (null) values in the 'Y2014' column


df['Y2014'].isnull().sum()

1589

In [29]:
# find the percentage

round(df['Y2014'].isnull().sum() / len(df['Y2014']) *100,3)

2.607

`Question 5`

Which of the following is a python inbuilt module? math, seaborn, pandas, matplotlib

Answer = Math

`Question 6`

If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [31]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [32]:
# Create a DataFrame using 'lst' as data, 'col' as column names, and custom index values


pd.DataFrame(lst,columns=col, index= [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

`Question 7`

Which of the following dataframe methods can be used to access elements across rows and columns?

`answer` = df.iloc[]

`Question 8`

What is the total Protein supply quantity in Madagascar in 2015?

In [119]:
# Filter rows where 'Area' is 'Madagascar' for the year 2015

madagascar_2015 = df[(df['Area'] == 'Madagascar')]

madagascar_2015 = madagascar_2015.groupby('Element')[['Y2015']].sum().reset_index()

Protein_supply = madagascar_2015[madagascar_2015['Element'] == 'Protein supply quantity (g/capita/day)']
Protein_supply

                                   Element   Y2015
12  Protein supply quantity (g/capita/day)  173.05

`Question 9`

Which year had the least correlation with ‘Element Code’?

In [44]:
# Calculate the correlation between 'Element Code' and each year's column

correlations = {}
for year_column in df.columns[7:]:
    correlation = df['Element Code'].corr(df[year_column])
    correlations[year_column] = correlation
    
correlations

{'Y2014': 0.024456819495221736,
 'Y2015': 0.02388919930163995,
 'Y2016': 0.02344399758496138,
 'Y2017': 0.024254007760045757,
 'Y2018': 0.02427857195351954}

`Question 10`


Given the following numpy array 

array  = ([[94, `89`, `63`],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

first select the two lists that have the bold and italics

second select the index of the elements using their indices

`Answer`: array[:2, 1:]

`Question 11`

What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [45]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

`Question 12`

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [141]:
# Group by 'Element' and sum 'Y2014', 'Y2015', 'Y2016', 'Y2017', and 'Y2018' for each group

element_sum_by_year = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum within each group

year_with_highest_sum = element_sum_by_year.idxmax(axis=1).reset_index()

year_with_highest_sum.iloc[15]

Element    Stock Variation
0                    Y2014
Name: 15, dtype: object

`Question 13`

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [94]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

`Question 14`

A pandas Dataframe with dimensions (100,3) has how many features and observations?

`Answer`:3 features, 100 observations

`Question 15`

Which of these python data structures is unorderly?

`Answer`: Tuple

`Question 16`

How would you check for the number of rows and columns in a pandas DataFrame named df?

`Answer`: df.shape

`Question 17`

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [136]:

df.groupby('Element')['Y2017'].sum().reset_index().iloc[10]

Element    Processing
Y2017        292836.0
Name: 10, dtype: object

`Question 18`

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017

In [99]:
df.groupby('Area')['Y2017'].sum().sort_values(ascending=False).head(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

`Question 19`

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [110]:
wine  = df.groupby('Item')[['Y2015','Y2018' ]].sum().reset_index()

wine_rows = wine[wine['Item'] == 'Wine']
wine_rows

     Item    Y2015    Y2018
117  Wine  4251.81  4039.32

`Question 20`

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [111]:

# Select the column for the year 2017

year_2017_data = df['Y2017']  

# Calculate the mean and standard deviation for the selected columns
mean_2017 = year_2017_data.mean()
std_dev_2017 = year_2017_data.std()

# Round the results to two decimal places
mean_2017 = round(mean_2017, 2)
std_dev_2017 = round(std_dev_2017, 2)

print(f"Mean for the year 2017: {mean_2017}")
print(f"Standard Deviation for the year 2017: {std_dev_2017}")

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86